:root {
    --font-color:#212121;
    --font-color-secondary:#757575;
    --highlighted-element: #2196F3;
    --for-darker-bg: #FFFFFF;
    --inactive-element:#AFB1B8;

}

/* general styling */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
}
h1,
h2,
h3,
p,
ul,
figure {
    margin: 0;
    padding: 0;
    border: 0;
}
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section--no-top-padding {
    padding-top: 0px;
}
.link {
    color: var(--font-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}
.link:focus,
.link:hover {
    color: var(--highlighted-element)
}
.contact:focus,
.contact:hover {
    color: var(--highlighted-element);
}

/* header styling*/
.header {
    border-bottom: 1px solid #ECECEC;
    background-color: #FFFFFF;
}
.container_header {
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
}
.logo_pulez {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: red;
    text-decoration: none;
    margin-right: 93px;
}
.header .logo_studio {
    color:#000000;
}
.header_nav {
    flex-grow: 2;
}
.header_li--horizontal {
    display: inline-block;
}
.header_nav--right-pad {
    padding-right: 46px;
}
.header_contact--right-pad {
    padding-right: 50px;
}
.contact {
    display: flex;
    color: var(--font-color-secondary);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    text-decoration: none;
}
.header_icon {
    margin-right: 10px;
}
.header_icon:hover,
.header_icon:focus {
    color: var(--highlighted-element);
}

/* order styling */
.container_order {
    flex-direction: column;
    align-items: center;
}
.index-solution {
    background-color: #2F303A;
    background-image: url(../images/Img\ Overlay.png) ,url(../images/1600x600-indyjskie.jpg);
    background-size: 1600px 100% 600px 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%, 50% 50%;
}
.index-solution h1 {
    color:var(--for-darker-bg);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align:center;
    margin-top: 106px;
}

.button--order {
    color:var(--for-darker-bg);
    background-color:var(--highlighted-element);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
    border-style: none;
    border-radius: 4px;
    padding: 10px 42px;
    margin-bottom: 106px;
}

/* cipsun styling */
.cipsun--horizontal {
    display: inline-block;
}
.cipsun_h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 10px;    
}
.cipsun_p {
    color:var(--font-color-secondary);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    inline-size: 270px;
}
.cipsun_ul--flex {
    display: flex;
}
.cipsun--margin-right {
    margin-right: 30px;
}
.cipsun_icons--bg {
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
.cipsun_icons {
    width: 70px;
    height: 70px;
    margin: 25px 100px;
}

/* crackheads styling */
.container_crackheads {
    flex-direction: column;
    text-align: center;
}
.crackheads_h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.crackheads_img--horizontal {
    display: inline-block;
}
.crackhead_img--right-marg {
margin-right: 30px;
}
/* team styling */
.team {
    background-color:#F5F4FA;
}
.container_team {
    flex-direction: column;
    align-items: center;
}
.team_img--horizontal {
    display: inline-block;
}
.team_img--right-marg {
    margin-right: 30px;
}
.team_h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}
.team_h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 30px;
}
.team_p {
    color: var(--font-color-secondary);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}
.team_window {
    background-color: var(--for-darker-bg);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;
}
.socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.socials--paddings {
    padding-top: 16px;
    padding-bottom: 30px;
}
.team_socials_link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--inactive-element)
}
.team_icons {
    width: 20px;
    height: 20px;
}
.team_socials_link:hover,
.team_socials_link:focus {
    color: var(--for-darker-bg);
    background-color: var(--highlighted-element);
}
/* clients styling */
.container_clients {
    flex-direction: column;
    align-items: center;
}
.clients_list {
margin-top: 50px;
display: flex;
width: 100%;
justify-content: space-between;
}
.clients_list_element {
width: 170px;
border: 1px solid var(--inactive-element);
border-radius: 4px;
color: var(--inactive-element);
}
.clients_logo {
width: 106px;
height: 60px;
margin: 16px 32px;
}
.clients_h2 {
font-size: 36px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: center;
}
.clients_list_element:hover,
.clients_list_element:focus {
color: var(--highlighted-element);
border-color: 1px solid var(--highlighted-element);
}
/* footer styling */
.footer .logo_studio {
    color: var(--for-darker-bg);
}
.footer {
background-color: #2F303A;
}
.footer_li-address--bot-marg {
    margin-bottom: 9px;
}
.footer_li-adress--top-marg {
    margin-top: 20px;
}
.container_footer {
    padding: 60px 0;
    margin-right: 70px;
}
.footer_h3 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--for-darker-bg);
    padding-top: 12px;
    margin-bottom: 20px;
}
.footer address {
    color: var(--for-darker-bg);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;    
 }
.footer .contact {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}
.fuck-dots {
    list-style: none;
}
.footer_socials_link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--for-darker-bg);
    background-color: #FFFFFF1A;
}
.footer_socials_link:hover,
.footer_socials_link:focus {
    color: var(--for-darker-bg);
    background-color: var(--highlighted-element);
}
/* PORTFOLIO */
.button-filter {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    background-color:#F5F4FA;
    border-style: none;
    border-radius: 4px;
    padding: 6px 22px;
}
.button-filter:hover,
.button-filter:focus {
  cursor: pointer;
  background-color: var(--highlighted-element);
  color: var(--for-darker-bg);
  box-shadow: 0px 2px 2px 0px #0000001F;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001A;

}
.container_portfolio {
    flex-direction: column;
    align-items: center;
}
.portfolio_buttons {
    margin-bottom: 50px;
}
.buttons_li--horizontal {
    display: inline-block;
}
.portfolio-grid {
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}
.portfolio_grid-card {
    background: #ffffff;
    border: 1px solid #eeeeee;
}
.portfolio_grid-card:hover,
.portfolio_grid-card:focus {
    box-shadow: 0px 1px 1px 0px #0000001F;
    box-shadow: 0px 4px 4px 0px #0000000F;
    box-shadow: 1px 4px 6px 0px #00000029;
}
.portfolio_grid-card--li {
    flex-basis: calc((100% - 90px) / 3);
}
.portfolio-masterpieces h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
}
.portfolio-masterpieces p {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--font-color-secondary);
    padding-bottom: 20px;
    padding-left: 24px;
}
